---
# handlers file for svwi-datarig

- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: Restart SSH
  ansible.builtin.systemd:
    name: ssh
    state: restarted
