
# Editor save files
*.sw[a-z]
*~
.#*
.*#
\#*

# Ansible files
/.vault.pass
/.retry
*.retry
/.env
/tmp
.env
initdb.sql
server.cnf

# Test files
/.vagrant

# AI
/lancedb

# Large binary files tracked outside git
*.deb
roles/svwi-vault/files/vault-plugin-secrets-*
