MONGO_USERNAME={{ mongo_username }}
MONGO_PASSWORD={{ mongopassword }}
BALENA_TOKEN={{ balenatoken }}
MONGO_API_PUB_KEY={{ mongoapipubkey }}
MONGO_API_PRIV_KEY={{ mongoapiprivkey }}
MONGO_PROTOCOL={{ mongo_protocol }}
MONGO_HOST={{ mongo_host }}
