storage "raft" {
  path = "/opt/vault/data"

  retry_join {
    leader_api_addr = "https://vault1.svwi.us:8200"
  }
  retry_join {
    leader_api_addr = "https://vault2.svwi.us:8200"
  }
  retry_join {
    leader_api_addr = "https://vault3.svwi.us:8200"
  }
}

cluster_addr = "https://{{ ansible_host }}:8201"
api_addr     = "https://{{ ansible_host }}:8200"

ui = true

plugin_directory = "/opt/vault/plugins"

listener "tcp" {
  address         = "{{ vault_listen_address }}:8200"
  cluster_address = "{{ ansible_default_ipv4.address }}:8201"
  tls_cert_file   = "/etc/vault.d/fullchain.pem"
  tls_key_file    = "/etc/vault.d/privkey.pem"
}

seal "gcpckms" {
{% if not vault_is_gcp %}
  credentials = "/etc/vault.d/gcpckms.json"
{% endif %}
  project    = "svw-proper"
  region     = "global"
  key_ring   = "smartvisionworks"
  crypto_key = "vaultv2"
}

disable_mlock = true
log_level     = "info"

max_lease_ttl = "8760h"

telemetry {
  dogstatsd_addr   = "localhost:8125"
  disable_hostname = true
}
