#!/bin/bash
# export VAULT_TOKEN={{ vault_token_here }} # This needs to be provided securely
export VAULT_ADDR="https://{{ ansible_facts['fqdn'] }}:8200"


FILEPATH="vault_backup_$(date +"%m_%d_%Y")_gcpckms_v$(/usr/bin/gcloud kms keys describe vaultv2 --keyring=smartvisionworks --location=global --format=json | jq -j ".primary.name" | sed 's:.*/::').snap"
# snapshot if leader
if [ "$(VAULT_TOKEN=$(cat /run/vault-vault/vault.token) vault operator raft list-peers -address=$VAULT_ADDR --format=json | jq --raw-output '.data.config.servers[] | select(.leader==true) | .address')" = "$(hostname):8201" ]; then
  {% if ansible_facts['virtualization']['system'] == 'vmware' %}/usr/bin/gcloud auth activate-service-account --key-file /etc/vault.d/gcpckms.json --project svw-proper{% endif %}
  echo "make raft snapshot $raft_backup/$time.snapshot ..."
  VAULT_TOKEN=$(cat /run/vault-vault/vault.token) /usr/bin/vault operator raft snapshot save -address=$VAULT_ADDR $FILEPATH && /usr/bin/gcloud alpha storage cp $FILEPATH gs://svw-vault-snapshots --access-token-file=/etc/vault.d/snapshots.token && rm $FILEPATH
else
  echo "not leader, skipping raft snapshot."
fi
